.filter-container {
    background: #FAFAFA;
    height: 200px;
    width: 900px;
    margin-bottom: 60px;
}

.filter-container h3 {
    color: #B9B9B9;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.filters-info {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
}

.filter-option {
    background-color: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: flex;
    width: 100px;
    position: relative;
}

.span-filter {
    position: absolute;
    right: 10px;
}

.filter-container button {
    background-color: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    height: 30px;
    width: 98px;
    margin: 20px 18px 0px 0px;
}

.filter-container button:focus {
    background-color: #7978D9;
    color: #FFFFFF;
}